
@{
     ViewData["Title"] = "GeneralInfo";
}

<h1>Times and amounts for congestion tax in Gothenburg</h1>
<p><b>Congestion tax is levied at fixed times for vehicles driven into and out of Gothenburg.</b></p>
<p>The maximum amount per day and vehicle is SEK 60.</p>
<p>Tax is not levied on public holidays, the day before the public holiday or during the month of July.</p>
<p>Read more about which <a href="https://www.transportstyrelsen.se/sv/vagtrafik/Trangselskatt/Trangselskatt-i-goteborg/Tider-och-belopp-i-Goteborg/dagar-da-trangselskatt-inte-tas-ut-i-goteborg/"> days when congestion tax is not levied in Gothenburg</a></p>

