
@{
    ViewData["Title"] = "MultiPassageRule";
}

     <h1>The multi-passage rule</h1>
     <p>The multi-passage rule means that a car that passes several toll stations within 60 minutes is only taxed once. The amount to be paid is the maximum amount of those passages.</p>

